
.content{
    line-height: 20px;
}

.content .title{
    text-align: center;
    color: green;
}

.text  .fisrt{
    font-weight: bold;
    text-decoration: underline;  
}

.text .em{
    font-style: italic;
}
.text .func{
    color: red;
}
.vonglap{
    background-color: gray;
}