* {
  padding: 0;
  margin: 0;
  border: 0;
}

.white-text{
    color: #fff !important;
}

.content {
  background-image: url(/asset/img/images.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0 5px;
  color: #008888;
}
.content .title {
    
    text-align: center;
    padding: 20px 0px;
}

.content .first-text {
    background-color: #008888;
}

.content .second-text {
    padding-bottom: 50px;
}

